{
  "./**/*.{js,jsx}": ["npm run --silent lint:js:fix", "git add"],
  "./**/*.scss": ["npm run --silent lint:scss:fix", "git add"],
  "./**/*.{ts,js,scss,html,json,*rc}": ["npm run prettier:write", "git add"]
}
